<div class="row footer">
      <div class="footer-links">
        <div class="about-zomato">
          <ul>
            <li class="list-title">About Kirala.co</li>
            <li><a href="#">Who We Are?</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Work With Us</a></li>
            <li><a href="#">Investor Relations</a></li>
          </ul>
        </div>
        <div class="enterprises">
          <ul>
            <li class="list-title">For Enterprises</li>
            <li><a href="#">Kirala.co için çalış</a></li>
          </ul>
        </div>
        <div class="learn-more">
          <ul>
            <li class="list-title">Learn More</li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Guvenlik</a></li>
            <li><a href="#">Kullanici Klavuzu</a></li>
            <li><a href="#">Site Haritasi</a></li>
          </ul>
        </div>
      </div>
      <hr />
      <p style="text-align: center">Copy Right From Kirala.co &copy;</p>
   
