
<form class="form-container">
  <div class="input-group mb-3"> 


    <label class="input-group-text" for="inputGroupSelect01">Başlangıç Tarihi</label>

    <input type="date">

    <label class="input-group-text" for="inputGroupSelect01">Bitiş Tarihi </label>
    <input type="date">


    <select class="form-select" id="inputGroupSelect03" aria-label="Example select with button addon">
      <option selected>Adres seçiniz</option>
      <option value="1">İstanbul</option>
      <option value="2">Ankara</option>
      <option value="3">Bursa</option>
    </select>

    <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
      <option selected>Ürün seçiniz</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <button class="btn btn-outline-secondary" type="button" routerLink="/productList" routerLinkActive="active-button" >Search</button>
  </div>
  </form>
  
<div class="card-group">
    <div class="card">
      <img src="../assets/ARABA.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Araç Kiralama</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="../assets/elektronik-cihaz-zarar-veren-6-o.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Elektronik Cihaz Kiralama</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
      </div>
    </div>
    <div class="card">
      <img src="../assets/kolle.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ev ve Ofis Kiralama</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        
      </div>
    </div>
  </div>
