
    .card-group {
    margin-bottom: 10px;
    max-width: 90% ;
    margin: 40px  auto;
  } 
  .card-title {
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(139, 81, 49);
  }
 
 .card-text{
  font-size: 18px;
  font-weight: normal;
  color: rgb(218, 142, 101);
  margin: auto;
    
  }

.form-select{
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: rgb(139, 81, 49);
}
.form-container{
  max-width: 50% ;
  margin: 100px    auto;
}
