<header>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid navbar-div">
      <a class="navbar-brand" href="#"
        ><img src="../assets/logo.jpg" alt="" style="width: 150px"
      /></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Ana Sayfa<span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="#" >Ürünlerimiz</a> <!-- link veririz routerLink="/products" routerLinkActive="active-button" -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hakkımızda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Kaydol</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Giriş Yap</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>