<div class="card p-3">
    <div class="d-flex align-items-center">
        <div class="card">
            <h3 class="card-title">Ev ve Ofis Kiralama(Ürün Kategorisi)</h3>
            <h5 class="card-title">Ürün ismi </h5>
            <img src="../assets/kolle.png" class="responsive-img" alt="...">
            <div class="card-body">

                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                <button type="button" class="btn btn-outline-warning" routerLink="/payMethod"
                    routerLinkActive="active-button">Let's Rent!</button>
            </div>
        </div>
    </div>
</div>