<!-- <div class="container bootdey">
<div class="col-md-12">
<section class="panel">
      <div class="panel-body">
          <div class="col-md-6">
              <div class="pro-img-details">
                  <img src="https://via.placeholder.com/550x380/FFB6C1/000000" alt="">
              </div>
          </div>
          <div class="col-md-6">
              <h4 class="pro-d-title">
                  <a href="#" class="">
                      Leopard Shirt Dress
                  </a>
              </h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              <div class="m-bot15"> <strong>Price : </strong> <span class="amount-old">$544</span>  <span class="pro-price"> $300.00</span></div>
              <p>
                  <button class="btn btn-round btn-danger" type="button"  routerLink="/payMethod" routerLinkActive="active-button" >Let's Rent!</button>
              </p>
          </div>
      </div>
  </section>
  </div>
</div> -->

  
<div class="card">
    <h5 class="card-title">Ev ve Ofis Kiralama</h5>
    <img src="../assets/kolle.png" class="responsive-img" alt="...">
    <div class="card-body">
      
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

      <button type="button"  class="btn btn-outline-warning" routerLink="/payMethod" routerLinkActive="active-button" >Let's Rent!</button>
    </div>
  </div>
 