<div class="container mt-5 d-flex justify-content-center">
    <div class="card p-3">
        <div class="d-flex align-items-center">
            <div class="image">
                <img src="" class="rounded" width="155">
            </div>
            <div class="ml-3 w-100">
                <h4 class="mb-0 mt-0">herhangi biri</h4>
                <!-- <span>Senior Journalist</span> -->
                <p class="text-justify">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet
                    fermentum.</p>
                <div class="button mt-2 d-flex flex-row align-items-center">
                    <input type="button" value="  Ürünlerim  "  onclick="butonfonksiyonu()" />
                    <script>
                        function butonfonksiyonu() {
                            alert("Butona basildi.");
                        }
                    </script>
                    <input type="button" value="  Kiraladıklarım  "  onclick="butonfonksiyonu()" />

                    <script>
                        function butonfonksiyonu() {
                            alert("Butona basildi.");
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
