
/* 
.card{
  width: 400px;
  border: none;
  border-radius: 10px;
  background-color: rgb(194, 144, 69);
}

.followers{
    font-size:10px;
  color: #a1aab9;

}
.number2{
  font-weight:500;
}
.rating{
    font-size:10px;
  color: #a1aab9;
}
.number3{
  font-weight:500;
} */
h4{
  color: rgb(228, 171, 15);
}
